

<%= form_for @assignment do |f| %>   

    <% if @assignment.errors.any? %>     
        <div id="error_explanation">      
            <h2>        
                <%= pluralize(@assignment.errors.count, "error") %> prohibited  
                this article from being saved:      
            </h2>       
            <ul>        
                <% @assignment.errors.full_messages.each do |msg| %>           
                    <li><%= msg %></li>         
                <% end %>      
            </ul>     
        </div>  
    <% end %>    
    <p>     
            <%= f.label :title, "Assignment Name" %><br>     
            <%= f.text_field :title %>   
        </p>
        
        <p>     
            <%= f.label :text, "Assignment Description" %><br>     
            <%= f.text_area :text %>   
        </p>    
        
        <p>
            <%= f.label :difficulty, "Difficulty on a scale of 1 to 10"%><br>
            <%= f.text_field :difficulty%>
        </p>
        
        <p>
            <%= f.label :Goalgrade, "Goal Grade"%><br>
            <%= f.text_field :Goalgrade %>
            
           
        </p>
        
        <p>
            <%= f.label :Due, "Due Date"%><br>
            <%= f.text_field :Due, data:{ provide:'datepicker' } %>
        </p>
        
    <p>     
        <%= f.submit %>  
    </p>  
<% end %>

