<div id = 'compl-assignment-box'>
<h1>Complete assignment</h1><br>

<%= form_for @assignment do |f| %>   
 <p>     
            <%= f.label :Goalgrade, "Enter the grade you recieved" %><br>     
            <%= f.text_field :Goalgrade %>   
        </p>
        <%= f.submit "Complete Assignment" %>  
<% end %>
<%= link_to 'Back', assignment_path %>
</div>