<div class="container assignments-jumbo-words">
    <div class="row">
    
      <p><% if signed_in? %>
      <div class="col-sm-4">
        <h1><%= current_user.username %></h1>
      </div>
      <div class="col-sm-8">
        <h1> Current Points: <%= current_user.points %></h1>
      </div>
  
        <%= button_to "Sign out", sign_out_path, method: :delete, :class => "btn btn-danger sign-out-btn" %>
      <% else %>
      <div class="col-sm-12">
        <h1>Username(placeholder)</h1>
        <%= link_to "Sign in", sign_in_path %><br>
      </div>
        
      <% end %>
     </p>
    
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class="col-sm-6"><%= link_to 'Add Assignment  +', new_assignment_path, :class => "top-links" %></div>
    <div class="col-sm-6"> <%=  link_to 'Rewards  ->', "/incentives/", :class => "top-links" %></div>
  </div>
</div>
<div class = "container">
<table class="table table-light table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">List of Assignments</th>
      <th scope="col">Description</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Desired Grade</th>
      <th scope="col">Due Date</th>
      <th scope="col">Max Point Value</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @user = current_user %>
  
  <% @assignments.each do |assignment| %>
  <% if signed_in? && current_user.id == assignment.user_id %>
    <tr>
      <td><%= assignment.title %></td>
      <td><%= assignment.text %></td>
      <td><%= assignment.difficulty %></td>
      <td><%= assignment.Goalgrade %>%</td>
      <td><%= assignment.Due %></td>
      <td> <%= assignment.points %> </td>
      <td><%= link_to 'Show', assignment_path(assignment) %></td>
      <td><%= link_to 'Delete', assignment_path(assignment), method: :delete, data: {confirm: 'Are you sure you wish to delete this assignment?'  } %></td>
      <td><%= link_to 'Complete',edit_assignment_path(assignment), data: {confirm: 'Completing this assignment will grant you its points and delete it'  } %></td>
      
    </tr>
    <%end%>
  <% end %>
</table>
</div>

