<p><% if signed_in? %>
  <h1><%= current_user.username %></h1>
  <h2> Current Points: <%= current_user.points %></h2>
  <%= button_to "Sign out", sign_out_path, method: :delete %>
<% else %>
  <h1>Username(placeholder)</h1>
  <%= link_to "Sign in", sign_in_path %><br>
<% end %>
</p>
<%= link_to 'Add Assignment', new_assignment_path %> 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">List of Assignments</th>
      <th scope="col">Description</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Desired Grade</th>
      <th scope="col">Due Date</th>
      <th scope="col">Point Value</th>
    
    </tr>
  </thead>
  
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.title %></td>
      <td><%= assignment.text %></td>
      <td><%= assignment.difficulty %></td>
      <td><%= assignment.Goalgrade %>%</td>
      <td><%= assignment.Due %></td>
      <td> <%= assignment.points %> </td>
      <td><%= link_to 'Show', assignment_path(assignment) %></td>
      <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
      <td><%= link_to 'Delete', assignment_path(assignment), method: :delete, data: {confirm: 'Are you sure you wish to delete this assignment?'  } %></td>
      <td><%= link_to 'Complete',assignment_path(assignment), method: :delete, data: {confirm: 'Completing this assignment will grant you its points and delete it'  } %></td>
      
    </tr>
  <% end %>
</table>


<%=  link_to 'Rewards', "https://c7a547a5ede1415184f8430dfe553e08.vfs.cloud9.us-east-2.amazonaws.com/incentives/" %>