<h1> New Assignment</h1>

    <%= form_for :assignment, url: assignments_path do |f| %>  
        <p>     
            <%= f.label :title %><br>     
            <%= f.text_field :title %>   
        </p>
        
        <p>     
            <%= f.label :text %><br>     
            <%= f.text_area :text %>   
        </p>    
        
        <p>
            <%= f.label :difficulty%><br>
            <%= f.text_field :difficulty%>
        </p>
        
        <p>
            <%= f.label :Goalgrade, "Goal Grade"%><br>
            <div class="slidecontainer">
                  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </p>
        
        <p>
            <%= f.label :Due%><br>
            <%= f.text_field :Due%>
        </p>
        
        
        
        <p>     
            <%= f.submit %>   
        </p> 
    <% end %>