<div id = 'show-box'>
<p>
    <strong> Title:</strong>
    <%= @assignment.title %>
</p>

<p>
    <strong> Text:</strong>
    <%= @assignment.text %>
</p>

<p>
    <strong> Difficulty:</strong>
    <%= @assignment.difficulty %>
</p>

<p>
    <strong> Goal Grade:</strong>
    <%= @assignment.Goalgrade %>
</p>

<p>
    <strong> Due:</strong>
    <%= @assignment.Due %>
</p>

<p>
    <strong> Point Value:</strong>
    <%= @assignment.points %>
</p>
<%= link_to '<- Assignment List', assignments_path, :class => "btn btn-primary" %>

</div>