<p><% if signed_in? %>
  <h1><%= current_user.username %></h1>
  <h2> Current Points: <%= current_user.points %></h2>
  <%= button_to "Sign out", sign_out_path, method: :delete %>
  
<% else %>
  <h1>Username(placeholder)</h1>
  <%= link_to "Sign in", sign_in_path %><br>
<% end %>
</p>
<%= link_to 'Create Incentive', new_incentive_path %> 
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">List of incentives</th>
      <th scope="col">Description</th>
      <th scope="col">Cost</th>
      <th scope="col">Image</th>
     
    
    </tr>
  </thead>
  <h2 font-color: white> You can only buy rewards you have the points for</h2>
  <% @incentives.each do |incentive| %>
    <tr>
      <td><%= incentive.title %></td>
      <td><%= incentive.text %></td>
      <td><%= incentive.cost %></td>
      <td> Click "Show" for image! </td>
      <td><%= link_to 'Show', incentive_path(incentive) %></td>
      <td><%= link_to 'Delete', incentive_path(incentive), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Buy', incentive_path(incentive), method: :put, data: { confirm: 'would you like to buy this reward?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back to Assignments', "https://c7a547a5ede1415184f8430dfe553e08.vfs.cloud9.us-east-2.amazonaws.com/assignments/" %>