<h1> New Incentive</h1>
<%= form_for :incentive, url: incentives_path do |f| %>   

<% if @incentive.errors.any? %>     
        <div id="error_explanation">      
            <h2>        
                <%= pluralize(@incentive.errors.count, "error") %> prohibited  
                this article from being saved:      
            </h2>       
            <ul>        
                <% @incentive.errors.full_messages.each do |msg| %>           
                    <li><%= msg %></li>         
                <% end %>      
            </ul>     
        </div>  
    <% end %>    

    <p>     
            <%= f.label :title, "Incentive Name" %><br>     
            <%= f.text_field :title %>   
        </p>
        
        <p>     
            <%= f.label :text, "Incentive Description" %><br>     
            <%= f.text_area :text %>   
        </p>    
        
        
        <p>
            <%= f.label :cost, "Point Cost"%><br>
            <%= f.text_field :cost%>
        </p>
        
        <p>
            <%= f.label :image, "Incentive Picture"%> <br>
            <%= f.file_field :image %>
        </p>
        
    <p>     
        <%= f.submit %>  
    </p>  
<% end %>
<%= link_to 'Back', incentives_path %>