<p>
    <strong> Title:</strong>
    <%= @incentive.title %>
</p>

<p>
    <strong> Description: </strong>
    <%= @incentive.text %>
</p>

<p>
    <strong> Cost:</strong>
    <%= @incentive.cost %>
</p>

<p>
    <strong> Picture:</strong><br>
   <% if @incentive.image.attached? %>
                      <image src="<%=(url_for(@incentive.image))%>">
                  <% end %>
</p>

<%= link_to 'Rewards', incentives_path %>